.container {
  display: flex;
  margin-top: 12px;
}
/* This means other pages would be 4 times the sidebar */
.others {
  flex: 4;
  background-color: red;
}
.link {
  text-decoration: none;
  color: inherit;
}
